{{template "layout" .}}
{{define "content"}}
    <h1>
        <span>{{.DirInfo.Name}}</span>
    </h1>
    <table>
        <tbody>
            <tr>
                <td>
                    <span>&nbsp;&nbsp;</span>
                    <span><a href="/{{.DirInfo.Path}}">⮢</a></span>
                </td>
            </tr>
            {{range .Files}}
                {{if .IsType}}
                    <tr>
                        <td> <span>type</span> </td>
                        <td> <span>{{.Name}}</span> </td>
                        <td>{{.Value}} </td>
                    </tr>
                {{else if .IsDeclaration}}
                    <tr>
                        <td> <span>declaration</span> </td>
                        <td> <span>{{.Name}}</span> </td>
                        <td>{{.Value}}</td>
                    </tr>
                {{else if .IsParameters}}
                    <tr>
                        <td> <span>parameters</span> </td>
                        <td> <span>{{.Name}}</span> </td>
                        <td> {{.Value}}</td>
                    </tr>
                {{else if .IsSymvar}}
                    <tr>
                        <td> <span>symvar</span> </td>
                        <td> <span>{{.Name}}</span> </td>
                        <td> {{.Value}}</td>
                    </tr>
                {{else if .IsComponent}}
                    <tr>
                        <td> <span>thinobject</span> </td>
                        <td>
                            <span><a href="/{{.Path}}/{{.Name}}">{{.Name}}</a></span>
                        </td>
                        <td> {{.ComponentType}} </td>
                    </tr>
                {{else if .IsList}}
                    <tr>
                        <td> <span>list</span> </td>
                        <td>
                            <span><a href="/{{.Path}}/{{.Name}}">{{.Name}}</a></span>
                        </td>
                        <td>{{.Size}}</td>
                    </tr>
                {{else if .IsMap}}
                    <tr>
                        <td> <span>map</span> </td>
                        <td>
                            <span><a href="/{{.Path}}/{{.Name}}">{{.Name}}</a></span>
                        </td>
                        <td>{{.Size}}</td>
                    </tr>
                {{else if .IsFile}}
                    <tr>
                        <td> <span>&nbsp;&nbsp;</span> </td>
                        <td>
                            <span><a href="/{{.Path}}/{{.Name}}">{{.Name}}</a></span>
                        </td>
                        <td>{{.Size}}</td>
                    </tr>
                {{else if .IsDir}}
                    <tr>
                        <td>
                            <span>📁</span>
                        </td>
                        <td>
                            <span><a href="/{{.Path}}/{{.Name}}">{{.Name}}</a></span>
                        </td>
                        <td>{{.Size}}</td>
                    </tr>
                {{end}}
            {{end}}
            <!-- 
            -->
        </tbody>
    </table>
{{end}}
